<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>缓存管理</title>
<link type="image/x-icon" rel="shortcut icon" href="/api/exclude/cache/self/images/favicon.ico"/>
<script type="text/javascript" src="/api/exclude/cache/app/resource.js"></script>
<script type="text/javascript" src="/api/exclude/cache/app/app.js"></script>
<link rel="stylesheet" type="text/css" href="/api/exclude/cache/app/admin/admin.css"/>
</head>
<body>
	
	<div class="warp">
		<div class="panel-body" style="padding-bottom: 0;">
			<table id="tb_departments" class="table table-hover table-bordered results"></table>
		</div>
	</div>
	<div id="toolbar" class="btn-group pull-right">
		<button id="btn_refresh" type="button" class="btn btn-default" style="margin:10px 0 0 0">刷新</button>
		<div class="pull-right">
			<input type="text" class="search form-control" placeholder="搜索">
		</div>
	</div>
		
	<script type="text/javascript" src="/api/exclude/cache/app/admin/admin.js"></script>
</body>
</html>